@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
header{padding-top: 50px;
       background-color: black;
       text-align: center;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       color: white;
       font-variant: small-caps;
    }
    a{  
        color: white;
        text-decoration: none;
       
    } 
   header> p{
        padding-bottom: 50px;
    }
    html,body{
        min-height: 100vh;
        background-color: aliceblue;
    }
section{
        font-family:cursive;
        font-size:x-large;
        border-radius: 10px;
        background-color: white;
        padding-left: 20vh;
        padding-top: 20vh;
        padding-bottom: 20vh;
        line-height: 2em;
        padding-left: 60px;
}
#conteiner{
    
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

#conteudo {font-family:cursive;
    font-size:x-large;
    display: inline-block;
    padding: 5px;
    background-color:rgba(0, 0, 0, 0.137);
    box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.705); 
}
   
#conteiner1{
    
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: right center;
   background-attachment: fixed;
}
#conteudo1 {font-family:cursive;
    font-size:x-large;
    display: inline-block;
    padding: 5px;
    background-color:rgba(0, 0, 0, 0.137);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.705);
} 
footer{
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: none;
    font-size: 10px;
    
}

